@use "../../../styles/functions" as f;
@use "../../../styles/mixin" as *;
@use "../../../styles/font" as fo;
@use "variables" as v;

.project-10 {
    flex: 1;
    font-family: fo.$inter-font;
    font-size: v.$font-size-p;
    line-height: 1.5;
    @include place-center;

    .card {
        min-width: 327px;
        max-width: 400px;
        background-color: v.$grey-800;
        color: v.$white;
        border-radius: f.rem(14);
        box-shadow: 0px 0 rgba(0, 0, 0);
        padding: f.rem(40);
        @include flex-col(f.rem(24));
        align-items: center;

        img {
            border-radius: 50%;
            width: f.rem(90);
            height: f.rem(90);
            object-fit: cover;
        }

        &__details {
            align-items: center;
            @include flex-col(f.rem(12));

            .location {
                color: v.$green;
                font-weight: v.$font-bold;
                font-size: f.rem(12);
            }
        }

        &__header {
            font-weight: v.$font-ex-bold;
            font-size: f.rem(24);
        }
        &__body {
            font-weight: v.$font-normal;
            font-size: v.$font-size-p;
            opacity: 50%;
            padding: 0 f.rem(24);
            text-align: center;
        }

        &__social {
            width: 100%;
            align-items: center;
            @include flex-col(f.rem(12));

            a {
                width: 100%;
                border-radius: f.rem(8);
                text-align: center;
                color: v.$white;
                font-weight: v.$font-bold;
                background: v.$grey-700;
                transition:
                    background-color 0.5s,
                    color 0.5s; /* or .5s for short */
                padding: f.rem(12);

                &:hover {
                    background: v.$green;
                    color: v.$grey-900;
                    cursor: pointer;
                }
                &:focus {
                    outline: 3px solid v.$green;
                    outline-offset: 3px;
                }
            }
        }
    }
}
