@use "../../../styles/functions" as f;
@use "variables" as v;
@use "../../../styles/mixin" as *;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.project-8 {
    flex: 1;
    font-family: v.$font-family;
    font-size: f.rem(16);
    line-height: 150%;
    @include place-center;

    .card {
        min-width: 327px;
        max-width: 384px;
        border-radius: f.rem(20);
        background: v.$white;
        z-index: 999;
        @include flex-col(f.rem(24));

        &__header {
            position: relative;
            display: flex;
            justify-content: center; 
        }

        &__img {
            width: 100%;
            border-radius: f.rem(20) f.rem(20) 0 0;
        }

        &__details {
            @include flex-col(f.rem(12));
            align-items: center;
            font-size: v.$font-size-p;
            padding: f.rem(32) 0 0 0;
        }

        &__profile {
            font-weight: v.$font-bold;
            font-size: v.$font-size-p;
        }
        &__name {
            color: v.$very-dark-desaturated-blue;
        }

        &__age,
        &__city {
            color: v.$dark-grayish-blue;
        }
        &__footer {
            border-top: 1px v.$dark-gray solid;
            display: flex;
            justify-content: space-around;
            padding: f.rem(16);
        }
        &__info {
            padding: f.rem(16);
            align-items: center;
            @include flex-col(f.rem(0));
        }
        &__number {
            font-weight: v.$font-bold;
            font-size: x-large;
            color: v.$very-dark-desaturated-blue;
        }
        &__topic {
            color: v.$dark-gray;
        }
    }
    .profile_img {
        position: absolute;
        top: 80px;
        display: block;
    }
    .profile_pic {
        border-radius: 50%;
        object-fit: cover;
        border: f.rem(5) v.$white solid;
    }
}
