@use "../../../styles/functions" as f;
@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.project8 {
    background-color: v.$dark-cyan;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position:
        top -25vw left -20vw,
        bottom -25vw right -20vw;
    background-repeat: no-repeat, no-repeat;
width:100vw;
height: 100vh;

 display: flex;
 justify-content: center;
 align-items: center;
    z-index: -10;
    font-family: v.$font-family;
    font-size: f.rem(16);
    line-height: 150%;

    .card {
        min-width: 327px;
        max-width: 384px;
        border-radius: f.rem(20);
        display: flex;
        gap: f.rem(24);
        background: v.$white;
        flex-direction: column;
        z-index: 999;
        &__header {
            position: relative;
            display: flex;
            justify-content: center;
        }
        &__img {
            width: 100%;
            // height: auto;
            border-radius: f.rem(20) f.rem(20) 0 0;
        }

        &__details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(12);
            font-size: v.$font-size-p;
            padding: f.rem(32) 0 0 0;
        }
        &__profile {
            font-weight: v.$font-bold;
            // height: auto;
            font-size: v.$font-size-p;
        }
        &__name {
            color: v.$very-dark-desaturated-blue;
        }

        &__age,
        &__city {
            color: v.$dark-grayish-blue;
        }
        &__footer {
            border-top: 1px v.$dark-gray solid;
            display: flex;
            justify-content: space-around;
            padding: f.rem(16);
        }
        &__info {
            padding: f.rem(16);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__number {
            font-weight: v.$font-bold;
            font-size: x-large;
            color: v.$very-dark-desaturated-blue;
        }
        &__topic {
            color: v.$dark-gray;
        }
    }
    .profile_img {
        position: absolute;
        top: 80px;
        display: block;
    }
    .profile_pic {
        border-radius: 50%;
        object-fit: cover;
        border: f.rem(5) v.$white solid;
    }
}
