@use "../../../styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

// Colors

// Primary

$purple-600: hsl(246, 80%, 60%);

$orange-300: hsl(15, 100%, 70%); //(work)
$blue-300: hsl(195, 74%, 62%); //(play)
$pink-400: hsl(348, 100%, 68%); //(study)
$green-400: hsl(145, 58%, 55%); //(exercise)
$purple-700: hsl(264, 64%, 52%); //(social)
$yellow-300: hsl(43, 84%, 65%); //(self care)

//Neutral

$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
$purple-500: hsl(235, 45%, 61%);
$navy-200: hsl(236, 100%, 87%);

$box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);

// ## Typography
$font-size-p: f.rem(18);

// Font
$font-family: "Rubik", sans-serif;

$font-thin: 300;
$font-normal: 400;
$font-bold: 500;
