@use "../../../styles/functions" as f;

// Colors

// Primary
$purple-600: hsl(246, 80%, 60%);

$card-data: (
    work: (
        color: hsl(15, 100%, 70%),
        image: "../images/icon-work.svg"
    ),
    play: (
        color: hsl(195, 74%, 62%),
        image: "../images/icon-play.svg"
    ),
    study: (
        color: hsl(348, 100%, 68%),
        image: "../images/icon-study.svg"
    ),
    exercise: (
        color: hsl(145, 58%, 55%),
        image: "../images/icon-exercise.svg"
    ),
    social: (
        color: hsl(264, 64%, 52%),
        image: "../images/icon-social.svg"
    ),
    self-care: (
        color: hsl(43, 84%, 65%),
        image: "../images/icon-self-care.svg"
    )
);

//Neutral
$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
$purple-500: hsl(235, 45%, 61%);
$navy-200: hsl(236, 100%, 87%);

$box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);

// ## Typography
$font-size-p: f.rem(18);

$font-thin: 300;
$font-normal: 400;
$font-bold: 500;
