@use "sass:map";
@use "../../../styles/functions" as f;
@use "../../../styles/mixin" as *;
@use "variables" as v;
@use "../../../styles/mq" as *;
@use "../../../styles/font" as fo;

.project-17 {
    font-family: fo.$rubik-font;
    font-size: v.$font-size-p;

    line-height: 1.5;
    flex: 1;
    @include place-center;

    .dashboard__cards {
        display: grid;
        gap: f.rem(28);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "profile" "work" "play" "study"
            "exercise" "social" "self-care" !important;

        @include breakpoint(medium) {
            grid-template-columns: repeat(4, 1fr);

            grid-template-areas:
                "profile work play study"
                "profile exercise social self-care" !important;
        }
        .profile {
            &__card {
                grid-area: profile;
                background: v.$navy-900;
                border-radius: f.rem(16);
                overflow: hidden;
                @include flex-col(f.rem(0));
                @include breakpoint(medium) {
                    width: f.em(200);
                }
                .dashboard__tabs {
                    background: v.$navy-900;
                    border-radius: f.rem(16);

                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    padding: f.rem(16);
                    @include breakpoint(medium) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    .dashboard__tab {
                        background: transparent;
                        color: v.$navy-200;
                        cursor: pointer;
                        &.active,
                        &:hover {
                            color: white;
                        }
                        @include breakpoint(medium) {
                            padding: f.rem(8);
                        }
                    }
                }
            }
            &__details {
                background-color: v.$purple-600;
                border-radius: f.rem(16);
                align-items: center;
                justify-content: center;
                @include flex-row(f.rem(16));
                padding: f.rem(32);

                @include breakpoint(medium) {
                    flex: 1;
                    @include flex-col(f.rem(16));
                    align-items: flex-start;
                }

                .pro-img {
                    width: 60px;
                    height: 60px;
                    border: white 4px solid;
                    border-radius: 50%;
                }
                .user-details {
                    span {
                        font-size: f.rem(13);
                        color: v.$navy-200;
                    }
                    h1 {
                        font-size: f.rem(24);
                        font-weight: v.$font-normal;
                        color: white;

                        @include breakpoint(medium) {
                            font-size: f.rem(32);
                        }
                    }
                }
            }
        }
        .activity-card {
            border-radius: f.rem(16);
            color: #fff;
            overflow: hidden;
            position: relative;

            &__image-wrapper {
                height: 40px;
            }

            @each $level, $data in v.$card-data {
                &.#{$level} {
                    grid-area: $level;
                    background: map.get($map: $data, $key: color);
                    background-image: url(map.get($data, image));
                    background-size: 60px;
                    background-repeat: no-repeat;
                    background-position: right 20px top;
                }
            }

            @include breakpoint(medium) {
                height: f.em(170);
            }

            &__content {
                border-radius: f.rem(16);
                background: v.$navy-900;
                padding: f.rem(18);
                transition: all 0.3s ease;

                @include breakpoint(medium) {
                    @include flex-col(f.rem(16));
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                &:hover {
                    background-color: color-mix(in srgb, white 5%, v.$navy-900);
                }
            }

            &__header,
            &__details {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__details {
                @include breakpoint(medium) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            &__title {
                font-size: f.rem(16);
                font-weight: v.$font-normal;
            }

            &__ellipsis {
                cursor: pointer;
                font-size: f.rem(32);
            }

            &__current {
                font-size: f.rem(36);
                font-weight: v.$font-thin;
            }

            &__previous {
                font-size: f.rem(12);
                color: v.$navy-200;
            }
        }
    }
}
