// $light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
// $dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

 
/* Light Theme */
.theme[data-theme="light"] {
    --bg-color: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
    --text-color: #000;
    --button-bg: #ddd;
}

.theme[data-theme="dark"] {
    --bg-color: linear-gradient(180deg, #040918 0%, #091540 100%);
    --text-color: #fff;
    --button-bg: #444;
}
