$white: hsl(0, 0%, 100%);

//Project 1
$light-gray: hsl(212, 45%, 89%);

//Project2
$very-light-gray: hsl(0, 0%, 95%);

// Project 3
$soft-red-80: rgba(251, 96, 135, 80%);
$dark-blue: rgb(30, 31, 41);

//Project 7
$yellow: hsl(47, 88%, 63%);

//Project 8
$dark-cyan: hsl(185, 75%, 39%);

//Project 9
$very-dark-blue-bg: hsl(217, 54%, 11%);

//Project 10
$grey-900: hsl(0, 0%, 8%);

//Project 11
$stone-100: hsl(30, 54%, 90%);

//Project 12
$cream: hsl(30, 38%, 92%);

//Project 15
$light-grayish-blue: hsl(210, 46%, 95%);

//Project 16
$blue-700: hsl(235, 18%, 26%);

//Project 17
$navy-950: hsl(226, 43%, 10%);

// Project 18
// Primary
$green-400: hsl(172, 67%, 45%);

//Neutral
$grey-200: hsl(185, 41%, 84%);

//Project 19
$grey-950: hsl(216, 12%, 8%);

//Project 20
$purple-100: hsl(275, 100%, 97%);

// Project 21
$green-200: hsl(148, 38%, 91%);

// Project 27
$pale-blue: hsl(221, 100%, 96%);

// Project 28
$rose-100: hsl(13, 31%, 94%);

// Project 29
$slate-100: hsl(202, 86%, 94%);

// Project 30
$grey-50: hsl(228, 33%, 97%);

// Project 31
$purple-200: hsl(229, 24%, 87%);
$blue-100: hsl(218, 100%, 97%);

// Project 34
$red-100: hsl(26, 66%, 93%);

// Project 38
$blue-38: hsl(225, 100%, 94%);

// Project 39
$very-dark-blue-39: hsl(233, 47%, 7%);

// Project 40
$light-grayish-magenta: hsl(300, 24%, 96%);

// Project 41
$teal-100: hsl(204, 43%, 93%);

// Project 43
$purple-43: hsl(257, 40%, 49%);

// Project 44
$red-44: hsl(0, 100%, 74%);

// Project 45
$green-45: hsl(180, 52%, 96%);

// Project 46
$navy-46: hsl(210, 60%, 98%);

// Project 49
$navy-49: hsl(218, 28%, 13%);

// Project 51
$blue-51: hsl(240, 78%, 98%);

$white-51: hsl(0, 0%, 100%);
