@use "variables" as v;
@use "../../../styles/mq" as *;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.project {
    &default {
        background: v.$white;
    }
    &1 {
        background: v.$light-gray;
    }
    &2 {
        background: v.$very-light-gray;
    }
    &3 {
        background:
            url(../../../pages/3-launch-countdown-timer/images/pattern-hills.svg) bottom no-repeat,
            url(../../../pages/3-launch-countdown-timer/images/bg-stars.svg) no-repeat,
            linear-gradient(to top, v.$soft-red-80 0%, v.$dark-blue 30%);
        background-size: 100% auto;
    }
    &7 {
        background: v.$yellow;
    }
    &8 {
        background-color: v.$dark-cyan;
        background-image: url("../../../pages/8-profile-card-component/images/bg-pattern-top.svg"),
            url("../../../pages/8-profile-card-component/images/bg-pattern-bottom.svg");
        background-position:
            top -25vw left -20vw,
            bottom -25vw right -20vw;
        background-repeat: no-repeat, no-repeat;
    }
    &9 {
        background: v.$very-dark-blue-bg;
    }
    &10 {
        background: v.$grey-900;
    }
    &11 {
        background: v.$stone-100;
    }
    &12 {
        background: v.$cream;
    }

    &15 {
        background: v.$light-grayish-blue;
    }

    &16 {
        background-color: v.$blue-700;
    }

    &17 {
        background-color: v.$navy-950;
    }
    &18 {
        background-color: v.$grey-200;
    }
    &19 {
        background-color: v.$grey-950;
    }
    &20 {
        background-color: v.$purple-100;
        z-index: -999;
    }
    &21 {
        background-color: v.$green-200;
    }
    &27 {
        background-color: v.$pale-blue;
    }

    &28 {
        background-color: v.$rose-100;
    }

    &29 {
        background-color: v.$slate-100;
    }
    &30 {
        background-color: v.$grey-50;
    }

    &31 {
        background-color: v.$blue-100;
    }
    &34 {
        background-color: v.$red-100;
    }

    &38 {
        background-color: v.$blue-38;
        background-image: url("../../../pages/38-order-summary-component/images/pattern-background-mobile.svg");
        background-size: 100% auto; // Fit width, let height adjust
        background-repeat: no-repeat; // Prevent tiling
        background-position: top center;

        @include breakpoint(medium) {
            background-image: url("../../../pages/38-order-summary-component/images/pattern-background-desktop.svg");
        }
    }

    &39 {
        background-color: v.$very-dark-blue-39;
    }

    &40 {
        background-color: v.$light-grayish-magenta;
        background-image: url("../../../pages/40-social-proof-section/images/bg-pattern-top-mobile.svg"),
            url("../../../pages/40-social-proof-section/images/bg-pattern-bottom-mobile.svg");
        background-position:
            top 0vw left 0vw,
            bottom 0vw right 0vw;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, 100%;

        @include breakpoint(medium) {
            background-image: url("../../../pages/40-social-proof-section/images/bg-pattern-top-desktop.svg"),
                url("../../../pages/40-social-proof-section/images/bg-pattern-bottom-desktop.svg");
            background-position:
                top -15vw left -30vw,
                bottom -5vw right -20vw;
        }
    }

    &41 {
        background-color: v.$teal-100;
    }
    &43 {
        background-color: v.$purple-43;

        background-image: url("../../../pages/43-huddle-landing-page/images/bg-mobile.svg");
        // background-size: 100% cover; // Fit width, let height adjust
        background-repeat: no-repeat; // Prevent tiling
        background-size: contain;
        @include breakpoint(medium) {
            background-image: url("../../../pages/43-huddle-landing-page/images/bg-desktop.svg");
        }
    }

    &44 {
        background-color: v.$red-44;

        background-image: url("../../../pages/44-intro-component-with-signup-form/images/bg-intro-mobile.png");
        // background-size: 100% cover; // Fit width, let height adjust
        background-repeat: no-repeat; // Prevent tiling
        background-size: contain;
        @include breakpoint(medium) {
            background-image: url("../../../pages/44-intro-component-with-signup-form/images/bg-intro-desktop.png");
        }
    }
    &45 {
        background-color: v.$green-45;
    }
}

.theme {
    background: var(--bg-color);
}
