@use "../../../styles/functions" as f;

// Primary
$gold-500: hsl(39, 89%, 49%);
$gold-600: hsl(28, 76%, 44%);

$blue-500: hsl(230, 89%, 62%);
$blue-700: hsl(229, 64%, 46%);

$red-600: hsl(349, 71%, 52%);
$red-800: hsl(347, 75%, 35%);

$purple-600: hsl(261, 73%, 60%);
$purple-700: hsl(261, 51%, 44%);

$light-blue-400: hsl(189, 59%, 53%);
$light-blue-500: hsl(194, 58%, 42%);

// Neutral

$navy-900: hsl(229, 25%, 31%); //(dark text) 
$gray-600: hsl(246, 11%, 37%); // (header outline)

// Background
$radial-gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 48%, 15%));

$transition: all 0.3s ease;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

//Typography
$font-family: "Barlow Semi Condensed", sans-serif;

$font-normal: 600;
$font-bold: 700;
