@use "../../../styles/functions" as f;

// Colors

// Primary
$purple-1: hsl(237, 73%, 79%);
$purple-2:hsl(238, 63%, 64%);
$linear-gradient: linear-gradient(to right, $purple-1, $purple-2);

// Neutral

$blue-50: hsl(240, 78%, 98%);
$gray-650: hsl(233, 13%, 49%);
$gray-700: hsl(232, 13%, 33%);

//Typography
$font-size-p: f.rem(15);

//Font

$font-family: "Montserrat", sans-serif;

$font-weight: 700;
