@use "../../../styles/functions" as f;

// Colors

// Primary

$white: hsl(0, 100%, 100%);
$gray-400: hsl(0, 0%, 58%);
$gray-950: hsl(0, 0%, 17%);
$black: hsl(0, 0%, 0%);

$transition: all 0.3s ease;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

//Typography
$font-size-p: f.rem(18);

$font-normal: 400;
$font-semi-bold:500;
$font-bold: 700;
