// ## Colors
$frontend-io: #3f54a3;

$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0);
$light-gray: hsl(212, 45%, 89%);

$filter-colors: (
    newbie: rgb(6, 182, 212),
    junior: rgb(52, 211, 153),
    intermediate: rgb(251, 191, 36),
    advanced: rgb(249, 115, 22),
    guru: rgb(225, 29, 72),
    all: #3f54a3
);

$tag-colors: (
    react: #61dafb,
    scss: #cd6799,
    component: #3f51b5,
    flex: #ff9800,
    api: #76b947,

    theme: #7e57c2,
    grid: #009688,
    form: #26a69a,
    dashboard: #1e1e2f,
    calculator: #455a64,

    toast: #4caf50,
    landing: #795548,
    card: #607d8b,
    filter: #8bc34a,
    animation: #e91e63,
    gsap: #88ce02,
    dropdown: #0044ff
);

// ## Typography
$font-size-p: 15px;

$box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.35);

$font-normal: 400;
$font-bold: 700;

//Transition
$transition: all 400ms ease;
