@use "../../../styles/functions" as f;

// Colors

// Primary
$red-500: hsl(356, 100%, 66%);
$red-400: hsl(355, 100%, 74%);
$blue-900: hsl(208, 49%, 24%);

// Neutral

$white: hsl(0, 100%, 100%);
$gray-600: hsl(207, 13%, 34%);
$gray-900: hsl(240, 10%, 16%);

// Gradient

// Background gradient - intro/CTA mobile nav:

$orange-300: hsl(13, 100%, 72%);
$red-550: hsl(353, 100%, 62%);
$bg-intro: linear-gradient(to bottom, $orange-300, $red-550);
// Background gradient - body:

$purple-950: hsl(237, 17%, 21%);
$purple-900: hsl(237, 23%, 31%);

$bg-body: linear-gradient(to top, $purple-950, $purple-900);

//Typography
$font-size-p: f.rem(16);
$box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);

//Font

$u-font: "Ubuntu", sans-serif;
$op-font: "Overpass", sans-serif;

$font-thin: 300;
$font-normal: 400;
$font-bold: 500;
$font-bold-x: 600;
$font-bold-xx: 700;
