@use "../../../styles/functions" as f;

// ## Colors
$white:hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// ## Typography
$font-size-p:f.rem(15);
 

$font-normal:400;
$font-bold:700;