@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:wght@300..900&family=Red+Hat+Text:wght@300..700&family=Rubik:wght@300..900&display=swap');

$rubik-font: "Rubik", sans-serif;
$outfit-font: "Outfit", sans-serif;
$red-hat-font: "Red Hat Text", sans-serif;
$red-hat-display: "Red Hat Display", sans-serif;
$inter-font: "Inter", sans-serif;
$lexend-deca-font: "Lexend Deca", sans-serif;
$league-spartan: "League Spartan", sans-serif;

