@mixin flex-col($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}
@mixin flex-row($gap: 0) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}
@mixin responsive-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
