// ## Colors
$frontend-io: #3f54a3;

$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0);
$light-gray: hsl(212, 45%, 89%);

//Project 2
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//Project 3
$soft-red-100: rgba(251, 96, 135, 100%);

//Project 10
$green: hsl(140, 94%, 57%);

//Project 11
$brown-800: hsl(14, 45%, 36%);
$rose-800: hsl(332, 51%, 32%);

//Project 12
$green-500: hsl(158, 36%, 37%);

//Project 13
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

//Project 14
$purple-500: hsl(263, 55%, 52%);

//Project 16
$red: hsl(4, 100%, 67%);
$blue-700: hsl(235, 18%, 26%);

//Project 17
$orange-300: hsl(15, 100%, 70%); //(work)
$blue-300: hsl(195, 74%, 62%); //(play)
$pink-400: hsl(348, 100%, 68%); //(study)
$green-400: hsl(145, 58%, 55%); //(exercise)
$purple-700: hsl(264, 64%, 52%); //(social)
$yellow-300: hsl(43, 84%, 65%); //(self care)

//Project 18
$green-900: hsl(183, 100%, 15%);

// ## Typography
$font-size-p: 15px;

// Font
$font-family: "Outfit", sans-serif;

$font-normal: 400;
$font-bold: 700;

//Transition
$transition: all 400ms ease;
