// Colors
$frontend-io: #3f54a3;

$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0);
$light-gray: hsl(212, 45%, 89%);

// Project 2
$bright-orange-2: hsl(31, 77%, 52%);
$dark-cyan-2: hsl(184, 100%, 22%);
$very-dark-cyan-2: hsl(179, 100%, 13%);

// Project 3
$soft-red-3: rgba(251, 96, 135, 100%);

// Project 10
$green-10: hsl(140, 94%, 57%);

// Project 11
$brown-11: hsl(14, 45%, 36%);
$rose-11: hsl(332, 51%, 32%);

// Project 12
$green-12: hsl(158, 36%, 37%);

// Project 13
$red-13: hsl(0, 78%, 62%);
$cyan-13: hsl(180, 62%, 55%);
$orange-13: hsl(34, 97%, 64%);
$blue-13: hsl(212, 86%, 64%);

// Project 14
$purple-14: hsl(263, 55%, 52%);

// Project 16
$red-16: hsl(4, 100%, 67%);

// Project 17
$orange-17: hsl(15, 100%, 70%); //(work)
$blue-17: hsl(195, 74%, 62%); //(play)
$pink-17: hsl(348, 100%, 68%); //(study)
$green-17: hsl(145, 58%, 55%); //(exercise)
$purple-17: hsl(264, 64%, 52%); //(social)
$yellow-17: hsl(43, 84%, 65%); //(self care)

// Project 18
$green-18: hsl(183, 100%, 15%);

// Project 19
$orange-19: hsl(25, 97%, 53%);

// Project 20
$purple-20: hsl(281, 83%, 54%);

// Project 21
$green-21: hsl(169, 82%, 27%);

// Project 22
$soft-orange-22: hsl(35, 77%, 62%);
$soft-red-22: hsl(5, 85%, 63%);

// Project 23
$orange-23: hsl(26, 100%, 55%);

// Project 26
$blue-26: hsl(229, 31%, 21%);
$red-26: hsl(0, 94%, 66%);

// Project 27
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Project 28
$red-28: hsl(14, 86%, 42%);

// Project29
$lime-29: hsl(61, 70%, 52%);
$slate-29: hsl(202, 55%, 16%);

// Project 30
$purple-30: hsl(238, 40%, 52%);
$pink-30: hsl(358, 79%, 66%);

// Project 31
$purple-31: hsl(243, 100%, 62%);

// Project 33
$purple-33: hsl(278, 68%, 11%);

// Project 34
$red-34: hsl(10, 79%, 65%);

// Project 35
$blue-35: hsl(223, 87%, 63%);
$pale-blue-35: hsl(223, 100%, 88%);
$gray-35: hsl(0, 0%, 59%);

// Project 38
$blue-38: hsl(245, 75%, 52%);

// Project 39
$soft-violet-39: hsl(277, 64%, 61%);

// Project 40
$very-dark-magenta-40: hsl(300, 43%, 22%);
$soft-pink-40: hsl(333, 80%, 67%);

// Project 41
$teal-41: hsl(179, 62%, 43%);
$green-41: hsl(71, 73%, 54%);

// Project 42
$pink-42: hsl(0, 36%, 70%);
$red-42: hsl(0, 93%, 68%);
$light-Gradient-42: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

// Project 43
$magenta-43: hsl(300, 69%, 71%);

// Project 44
$green-44: hsl(154, 59%, 51%);

// Project 45
$green-45: hsl(180, 29%, 50%);

// Project 46
$blue-46: hsl(219, 85%, 26%);

// Project 47
$gradient-47: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

// 48
$green-48: hsl(171, 66%, 44%);

// 49
$navy-49: hsl(216, 53%, 9%); //(footer background)
$teal-49: hsl(176, 68%, 64%); 

// Typography
$font-size-p: 15px;

$font-normal: 400;
$font-bold: 700;

//Transition
$transition: all 400ms ease;
