 

// ## Colors
$frontend-io: #3f54a3;

$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0);
$light-gray: hsl(212, 45%, 89%);

// ## Typography
$font-size-p: 15px;

// Font
$font-family: "Outfit", sans-serif;

$font-normal: 400;
$font-bold: 700;

// Container Widths
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

//Transition
$transition: all 400ms ease;
