@use "functions" as f;
@use "variables" as v;
@use "mq" as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: unset;
    user-select: none;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: v.$black;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
        background: v.$main-color;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

      .custom-toast {
            padding: 0.75rem 1.25rem;
            border-radius: f.rem(16);
            backdrop-filter: blur(7px); // glass effect
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            width: 100%;
            font-weight: 500;
            display: flex;
            align-items: center;
            overflow: hidden;

            // Use CSS variables for dynamic theming
            background-color: rgba(255, 255, 255, 0.1);
            color: black;

            transition:
                background-color 0.3s ease,
                color 0.3s ease;
        }
}
