@use "functions" as f;
@use "variables" as v;

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: f.rem(16);
    z-index: 10;
    .home-icon {
        width: 30px;
        height: 30px;
        color: v.$black;
    }
    // nav {
    //     text-transform: uppercase;
    //     transition: all 300ms ease-in-out;
    //     .hidden {
    //         display: none;
    //         &.hamburger {
    //             background-color: rgba(255, 255, 255, 0.1);
    //         }
    //     }
    // }
}

.footer {
    padding-block: f.rem(32);
    width: 100vw;
    font-size: f.rem(11);
    text-align: center;

    .socials {
        display: flex;
        justify-content: center;
        padding-block-end: f.rem(24);
        gap: f.rem(24);
        .social__icon {
            color: lightskyblue;
            &:hover {
                color: red;
            }
        }
    }
    a {
        font-weight: 700;
    }

    &-default {
        a {
            color: v.$white;
        }
    }
    &-main {
        a {
            color: hotpink;
        }
    }
    &-1,
    &-9,
    &-15 {
        a {
            color: hsl(228, 45%, 44%);
        }
    }
    &-2 {
        a {
            background: linear-gradient(90deg, v.$bright-orange, v.$dark-cyan, v.$very-dark-cyan);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }
    &-3 {
        a {
            color: v.$soft-red-100;
        }
    }

    &-9,
    &-10 {
        color: v.$white;
    }
    &-10 {
        a {
            color: v.$green;
        }
    }
    &-11 {
        color: v.$brown-800;
        a {
            color: v.$rose-800;
        }
    }
    &-12 {
        a {
            color: v.$green-500;
        }
    }
    &-13 {
        a {
            background: linear-gradient(90deg, v.$red, v.$cyan, v.$orange, v.$blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }
    &-14 {
        a {
            color: v.$purple-500;
        }
    }

    &-16 {
        color: v.$white;

        a {
            color: v.$red;
        }
    }
    &-17 {
        color: v.$white;
        a {
            background: linear-gradient(
                90deg,
                v.$orange-300,
                v.$blue-300,
                v.$pink-400,
                v.$green-400,
                v.$purple-700,
                v.$yellow-300
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }

    &-18 {
        a {
            color: v.$green-900;
        }
    }
    &-19 {
        color: v.$white;
        a {
            color: v.$orange-500;
        }
    }
    &-20 {
        a {
            color: v.$purple-500;
        }
    }
}
