@use "functions" as f;
@use "variables" as v;

.main-home {
    padding: f.rem(8);
    position: fixed;
    bottom: f.rem(20); // or just 20px
    right: f.rem(20);
    z-index: 1000;

    background: rgba(0, 0, 0, 0.664);
    border-radius: 50%;
    transition: transform 0.2s ease;

    .home-icon {
        width: 24px;
        height: 24px;
        color: v.$black;
        transition: color 0.2s ease;

        &:hover {
            color: v.$soft-red-100;
        }
    }
    &:hover {
        transform: scale(1.5);
    }
    // nav {
    //     text-transform: uppercase;
    //     transition: all 300ms ease-in-out;
    //     .hidden {
    //         display: none;
    //         &.hamburger {
    //             background-color: rgba(255, 255, 255, 0.1);
    //         }
    //     }
    // }
}

.footer {
    padding-block: f.rem(32);
    width: 100vw;
    font-size: f.rem(11);
    text-align: center;

    .socials {
        display: flex;
        justify-content: center;
        padding-block-end: f.rem(24);
        gap: f.rem(24);
        .social__icon {
            color: lightskyblue;
            &:hover,
            &:focus,
            &:focus-visible {
                color: red;
            }
        }
    }
    a {
        font-weight: 700;
    }

    &-default {
        // display: none;
        a {
            color: v.$white;
        }
    }
    &-main {
        a {
            color: hotpink;
        }
    }
    &-1,
    &-9,
    &-15 {
        a {
            color: hsl(228, 45%, 44%);
        }
    }
    &-2 {
        a {
            background: linear-gradient(90deg, v.$bright-orange, v.$dark-cyan, v.$very-dark-cyan);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }
    &-3 {
        a {
            color: v.$soft-red-100;
        }
    }

    &-9,
    &-10 {
        color: v.$white;
    }
    &-10 {
        a {
            color: v.$green;
        }
    }
    &-11 {
        color: v.$brown-800;
        a {
            color: v.$rose-800;
        }
    }
    &-12 {
        a {
            color: v.$green-500;
        }
    }
    &-13 {
        a {
            background: linear-gradient(90deg, v.$red, v.$cyan, v.$orange, v.$blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }
    &-14 {
        a {
            color: v.$purple-500;
        }
    }

    &-16 {
        color: v.$white;

        a {
            color: v.$red;
        }
    }
    &-17 {
        color: v.$white;
        a {
            background: linear-gradient(
                90deg,
                v.$orange-300,
                v.$blue-300,
                v.$pink-400,
                v.$green-400,
                v.$purple-700,
                v.$yellow-300
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }

    &-18 {
        a {
            color: v.$green-900;
        }
    }
    &-19 {
        color: v.$white;
        a {
            color: v.$orange-500;
        }
    }
    &-20 {
        a {
            color: v.$purple-500;
        }
    }

    &-21 {
        a {
            color: v.$green-600;
        }
    }

    &-22 {
        a {
            background: linear-gradient(90deg, v.$soft-red, v.$soft-orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }

    &-23 {
        a {
            color: v.$orange;
        }
    }
    &-24 {
        color: v.$white;
        .socials {
            display: none;
        }
        background: black;
        a {
            color: v.$orange;
        }
    }
    &-25 {
        color: v.$white;

        background: black;
        a {
            color: v.$soft-red;
        }
    }

    &-26 {
        color: v.$white;

        background: v.$blue-950;
        .socials {
            display: none;
        }
        a {
            color: v.$red-400;
        }
    }

    &-27 {
        a {
            background: linear-gradient(90deg, v.$light-royal-blue, v.$light-slate-blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }

    &-28 {
        a {
            color: v.$red-28;
        }
    }

    &-29 {
        background-color: v.$slate-900;
        color: white;
        a {
            color: v.$lime;
        }
    }

    &-30 {
        color: v.$purple-600;

        a {
            color: v.$pink-400;

            &:hover {
                color: v.$pink-200;
            }
        }
    }

    &-31 {
        a {
            color: v.$purple-31;
        }
    }

    &-32 {
        a {
            color: var(--button-bg-active);
        }
    }

    &-33 {
        a {
            color: v.$purple-33;
        }
    }

    &-34 {
        a {
            color: v.$red-34;
        }
    }
    &-35 {
        color: v.$gray-35;
        .socials {
            .social__icon {
                border-radius: 50%;
                border: v.$gray-35 solid 1px;
                color: v.$blue-35;
                padding: f.rem(8);

                &:hover,
                &:focus,
                &:focus-visible {
                    background-color: v.$blue-35;
                    color: white;
                    border: solid 1px v.$blue-35;
                }
            }
        }
        a {
            color: v.$blue-35;
        }
    }

    &-37 {
        a {
            background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // Optional for other browsers:
            background-clip: text;
            color: transparent;
        }
    }

    &-38 {
        a {
            color: v.$blue-38;
        }
    }

    &-39 {
        a {
            color: v.$soft-violet-39;
        }
    }
    &-40 {
        color: v.$very-dark-magenta-40;
        a {
            color: v.$soft-pink-40;
        }
    }
}
