@use "../../../styles/functions" as f;

// Colors
// Primary
$card-colors: (
    supervisor: hsl(180, 62%, 55%),
    team-builder: hsl(0, 78%, 62%),
    calculator: hsl(212, 86%, 64%),
    karma: hsl(34, 97%, 64%)
);

// Neutral
$grey-500: hsl(234, 12%, 34%);
$grey-400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

// ## Typography
$font-size-p: f.rem(15);

$font-thin: 200;
$font-normal: 400;
$font-bold: 600;
