@use "../../../styles/functions" as f;
@use "../../../styles/mixin" as *;
@use "../../../styles/font" as fo;
@use "variables" as v;
@use "mq" as *;

.project-13 {
    flex: 1;
    font-family: fo.$poppins;
    font-size: v.$font-size-p;
    line-height: 1.5;
    @include flex-col(f.rem(32));
    @include flex-center;

    .project-header {
        text-align: center;
        max-width: f.em(500);
        h1 {
            font-weight: v.$font-thin;
        }
        h2 {
            font-weight: v.$font-bold;
            color: v.$grey-500;
            font-size: f.rem(30);
        }
    }

    p {
        color: v.$grey-400;
        margin-top: f.rem(10);
        font-size: f.rem(12);
    }

    .card-wrapper {
        max-width: f.em(1100);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: f.rem(30);
        grid-template-areas:
            "supervisor team-builder calculator"
            "supervisor karma calculator";
        justify-content: center;
        align-items: center;
        padding: f.rem(32);
        transition: all ease-in-out 0.5s;

        @include breakpoint(small) {
            grid-template-columns: repeat(1, 1fr) !important; // 1 column for mobile

            grid-template-areas:
                "supervisor"
                "team-builder"
                "calculator"
                "karma" !important;
        }

        .card {
            background-color: v.$white;
            border-radius: f.rem(8);
            text-align: left;
            padding: f.rem(30) f.rem(20);
            height: f.em(250);

            @include flex-col(f.rem(0));
            justify-content: space-between;

            &:hover {
                transform: translateY(-5px);
            }

            @each $level, $color in v.$card-colors {
                &.#{$level} {
                    border-top: $color 4px solid;
                    box-shadow: 0 4px 6px color-mix(in srgb, white 80%, $color);
                    grid-area: $level;
                }
            }

            &__title {
                color: v.$grey-500;
                font-size: f.rem(18);
                font-weight: v.$font-bold;
            }

            img {
                width: f.rem(50);
                align-self: flex-end;
            }
        }
    }
}
