@use "../../../styles/functions" as f; 

// Colors
$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);

$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);


$box-shadow:
    0 10px 30px rgba(17, 17, 17, 0.068),
    0 4px 6px rgba(0, 0, 0, 0.322);

// ## Typography
$font-size-p: f.rem(16);

 
$font-normal: 400;
$font-bold: 600;
$font-bolder: 700;