@use "../../../styles/functions" as f;

// Colors

$neutral-0: hsl(0, 0%, 100%);
$neutral-300: hsl(252, 6%, 83%);
$neutral-500: hsl(245, 15%, 58%);
$neutral-700: hsl(245, 19%, 35%);
$neutral-900: hsl(248, 70%, 10%);

$orange-500: hsl(7, 88%, 67%);
$orange-700: hsl(7, 71%, 60%);

$gradient: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%)); //text

$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

// Typography
$font-size-p: f.rem(20);

$font-family: "Inconsolata", monospace;

$font-normal: 400;
$font-bold: 500;
$font-bolder: 700;
$font-boldest: 800;
