@use "../../../styles/functions" as f;
@use "../../../styles/mq" as *;
@use "variables" as v;
@use "../../../styles/font" as fo;

.project-42 {
    font-size: v.$font-size-p;
    font-family: fo.$josefin-sans;
    flex: 1;

    .container {
        width: 100dvw;
        display: flex;
        flex-direction: column;

        @include breakpoint(medium) {
            flex-direction: row;
            min-height: 90vh;
            height: auto;
        }
        .left,
        .right {
            flex: 1;
        }

        .left {
            display: flex;
            flex-direction: column;

            @include breakpoint(medium) {
                background: url("../images/bg-pattern-desktop.svg") no-repeat;
                background-size: contain;
                background-color: v.$light-Gradient; // soft pink behind pattern
            }

            .header {
                padding: f.rem(32);
                @include breakpoint(medium) {
                    width: 70%;
                    margin: 0 auto;
                }
            }

            .top-img {
                @include breakpoint(medium) {
                    display: none;
                }
            }

            .content {
                padding: f.rem(32);
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: f.rem(32);
                flex: 1;

                @include breakpoint(medium) {
                    width: 70%;
                    margin: 0 auto;
                }

                h1 {
                    text-align: center;
                    font-size: f.rem(64);
                    color: v.$gray-900;
                    text-transform: uppercase;
                    font-weight: v.$font-normal;
                    letter-spacing: f.rem(8);
                    span {
                        font-weight: v.$font-thin;
                        color: v.$pink-400;
                    }

                    @include breakpoint(medium) {
                        text-align: left;
                    }
                }
                p {
                    text-align: center;
                    line-height: 1.5;
                    color: v.$pink-400;

                    @include breakpoint(medium) {
                        text-align: left;
                    }
                }
                .newsletter__form {
                    .form-group {
                        border-radius: f.rem(24);
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid v.$pink-400;
                        &.error {
                            border: 2px solid v.$red-500;
                        }
                        .input-group {
                            position: relative;
                            flex: 1;

                            input {
                                border-radius: f.rem(24);
                                width: 100%;
                                padding: f.rem(16);
                                border: none;
                                padding-right: f.rem(48);
                                text-align: left;
                                color: v.$gray-900;

                                &::placeholder {
                                    color: v.$pink-400;
                                }
                            }

                            .error-icon {
                                position: absolute;
                                top: 50%;
                                right: f.rem(16);
                                transform: translateY(-50%);
                                color: v.$red-500;
                                pointer-events: none;
                                font-weight: bold;
                                font-size: f.rem(24);
                            }
                        }

                        button {
                            background: v.$dark-Gradient;
                            color: white;
                            padding-inline: 1.6rem;
                            border: none;
                            border-radius: f.rem(24);
                            font-size: f.rem(24);
                            display: grid;
                            place-items: center;
                            z-index: 999;
                            box-shadow: v.$box-shadow;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover,
                            &:focus,
                            &:focus-visible {
                                background: v.$pink-400;
                            }
                        }
                    }

                    .error-message {
                        width: 100%;
                        padding: 0 f.rem(16);
                        text-align: left;
                        color: v.$red-500;
                        margin-top: f.rem(8);
                        font-size: f.rem(12);
                    }
                }
            }
        }
        .right {
            display: none;

            @include breakpoint(medium) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                aspect-ratio: 3 / 4;
                height: 100%;
                max-height: 100vh;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                    display: block;
                }
            }
        }
    }
}
