@use "../../../styles/functions" as f;
@use "variables" as v;
@use "../../../styles/mq" as *;
@use "../../../styles/font" as fo;

.project-26 {
    font-family: fo.$rubik-font;
    font-size: v.$font-size-p;
    line-height: 1.5;
    width: 100dvw;

    section {
        padding-top: f.rem(48);
        padding-bottom: f.rem(48);
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: f.rem(16);
    }

    .btn {
        padding: f.rem(12) f.rem(24);
        border: none;
        cursor: pointer;
        border-radius: f.rem(5);
        font-weight: bold;
        text-align: center;

        &__MoreInfo {
            background: v.$blue-600;
            padding: f.rem(16) f.rem(32);
            color: v.$grey-50;

            &:hover,
            &:focus,
            &:focus-visible {
                color: v.$blue-600;
                background-color: transparent;
                outline: v.$blue-600 solid 2px;
            }
        }
    }
    .content {
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: f.rem(16);
        padding-bottom: f.rem(32);
    }

    h1,
    h2,
    h3,
    h4 {
        color: v.$blue-950;
    }

    .social-links {
        display: flex;
        gap: 1rem;
        justify-content: center;
        a {
            font-size: f.rem(28);
            color: v.$grey-50;
            font-weight: v.$font-normal;
            cursor: pointer;
        }
    }
    p {
        color: #666;
    }

    .header {
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-toggle {
                background: none;
                border: none;
                cursor: pointer;

                .icon {
                    font-size: f.rem(32);
                }
            }

            .nav-links {
                display: none;
            }

            @include breakpoint(medium) {
                .menu-toggle {
                    display: none;
                }

                .nav-links {
                    display: flex;
                    align-items: center;
                    gap: f.rem(48);

                    a {
                        text-transform: uppercase;
                        color: v.$blue-950;
                        font-weight: v.$font-bold;
                        cursor: pointer;
                        position: relative;
                        text-decoration: none;
                        padding-bottom: 4px;
                        transition: all 0.4s ease;

                        &:hover,
                        &:focus,
                        &:focus-visible {
                            color: v.$red-400;
                        }
                    }

                    .btn {
                        background-color: v.$red-400;
                        color: v.$grey-50;
                        font-weight: v.$font-bold;
                        text-transform: uppercase;
                        &:hover,
                        &:focus,
                        &:focus-visible {
                            color: v.$red-400;
                            background-color: v.$grey-50;
                            outline: v.$red-400 solid 2px;
                        }
                    }
                }
            }
        }

        .mobile-menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 100dvw;
            height: 100dvh;

            background-color: hsla(from v.$blue-950 h s l / 0.95);

            z-index: 1000;
            padding: f.rem(20) f.rem(60);
            display: flex;
            flex-direction: column;
            transform: translateX(100%);
            opacity: 0;
            pointer-events: none;
            transition:
                transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;

            &.open {
                transform: translateX(0);
                opacity: 1;
                pointer-events: auto;
            }
            .top {
                display: flex;
                justify-content: space-between;
                .logo {
                    filter: invert(1) brightness(1.5);
                }
                .close-button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    .icon {
                        font-size: f.rem(32);
                        color: white;
                    }
                }
            }

            .mobile-nav {
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
                justify-content: center;

                a {
                    font-size: f.rem(20);
                    font-weight: v.$font-normal;
                    text-transform: uppercase;
                    color: v.$grey-50;
                    border-top: v.$grey-50 solid 1px;

                    width: 100%;
                    padding: f.rem(16);
                    text-align: center;
                }
                .login {
                    width: 100%;
                    padding: f.rem(16) 0;
                    border-top: v.$grey-50 solid 1px;
                    .btn {
                        width: 100%;
                        text-transform: uppercase;
                        text-align: center;
                        padding: f.rem(16);
                        font-size: f.rem(20);

                        border: v.$grey-50 solid 2px;
                        background-color: transparent;
                        color: v.$grey-50;
                    }
                }
            }

            @include breakpoint(medium) {
                display: none; // Hide on desktop
            }
        }
    }

    .hero {
        .container {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            gap: f.rem(32);
            @include breakpoint(medium) {
                flex-direction: row;
                text-align: left;
                justify-content: space-between;
            }
        }

        &__content {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(16);
            @include breakpoint(medium) {
                align-items: flex-start;
            }
        }

        &__buttons {
            display: flex;
            gap: f.rem(16);
            .btn {
                box-shadow: v.$box-shadow;
                &--primary {
                    background-color: v.$blue-600;
                    color: v.$grey-50;
                    &:hover,
                    &:focus,
                    &:focus-visible {
                        color: v.$blue-600;
                        background-color: transparent;
                        outline: v.$blue-600 solid 2px;
                    }
                }

                &--secondary {
                    background-color: v.$grey-50;
                    color: hsl(229, 31%, 21%);
                    &:hover,
                    &:focus,
                    &:focus-visible {
                        color: v.$blue-950;
                        background-color: transparent;
                        outline: v.$blue-950 solid 2px;
                    }
                }
            }
        }

        &__image-wrapper {
            position: relative;
            flex: 1 1 400px;
            max-width: 600px;
            img {
                position: relative;
                z-index: 2;
                max-width: 100%;
                height: auto;
            }
        }
        &__background-shape {
            position: absolute;
            bottom: 0;
            right: -100px;
            width: 400px;
            height: 300px;
            background-color: hsl(231, 69%, 60%);
            border-bottom-left-radius: f.em(300);
            border-top-left-radius: f.em(300);
            z-index: 1;
            @include breakpoint(medium) {
                right: -250px;
            }
        }
    }

    .features {
        position: relative;
        .tab {
            &-buttons {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                button {
                    border-bottom: #666 1px solid;
                    color: hsla(from v.$blue-950 h s l / 0.8);
                    width: 100%;
                    text-align: center;
                    background-color: transparent;

                    padding: f.rem(16) f.rem(32);
                    &:hover,
                    &:focus,
                    &:focus-visible {
                        color: v.$red-400;
                    }
                    &.active {
                        color: v.$blue-950;
                        font-weight: 600;
                        border-bottom: v.$red-400 4px solid;
                    }
                    @include breakpoint(medium) {
                        width: auto;
                    }
                }

                @include breakpoint(medium) {
                    flex-direction: row;
                }
            }

            &-content {
                padding-top: f.rem(32);
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: f.rem(48);

                &__img-wrapper {
                    position: relative;
                    flex: 1 1 400px;
                    max-width: 600px;
                    min-height: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        position: relative;
                        z-index: 2;
                        max-width: 100%;
                        height: auto;
                    }
                    .features__background-shape {
                        position: absolute;
                        bottom: 0;
                        left: -250px;
                        width: 550px;
                        height: 300px;
                        background-color: v.$blue-600;
                        border-top-right-radius: 300px;
                        border-bottom-right-radius: 300px;

                        z-index: 1;
                        @include breakpoint(medium) {
                        }
                    }
                }

                &__text {
                    flex: 1 1 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: f.rem(16);
                    max-width: 500px;

                    @include breakpoint(medium) {
                        align-items: flex-start;
                    }
                }
            }
        }
    }

    .download {
        &__cards {
            display: flex;
            justify-content: center;
            gap: f.rem(32);

            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include breakpoint(medium) {
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                gap: 2rem;
            }
        }
        &__card {
            border-radius: f.rem(8);
            box-shadow: v.$box-shadow;
            padding-top: f.rem(16);

            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            position: relative;
            transition: margin-top 0.3s ease;

            &:nth-child(2) {
                @include breakpoint(medium) {
                    margin-top: 2rem;
                }
            }

            &:nth-child(3) {
                @include breakpoint(medium) {
                    margin-top: 4rem;
                }
            }

            .details {
                padding: f.rem(16);
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: f.rem(16);
                img {
                    height: 60px;
                    margin-bottom: 1.5rem;
                }
                .btn {
                    width: 100%;
                }
            }
        }
    }

    .faq {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(32);
        }
        .faq-card {
            max-width: 600px;
            width: 100%;
            min-width: 400px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .faq-item {
                border-top: 1px solid #eee;

                &:last-of-type {
                    border-bottom: 1px solid #eee;
                }

                .faq-question {
                    padding: 1rem 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: none;
                    border: none;
                    font-size: v.$font-size-p;
                    cursor: pointer;

                    .icon {
                        color: v.$blue-600;
                    }
                    &:hover,
                    &:focus-visible {
                        .title {
                            color: v.$red-400;
                        }
                    }
                }

                .faq-answer {
                    max-height: 0;
                    overflow: hidden;
                    transition:
                        max-height 0.4s ease,
                        padding 0.4s ease;

                    padding-top: 0;
                    padding-bottom: 0;
                    font-size: 0.95rem;
                }

                &.open {
                    .faq-question {
                        .icon {
                            color: v.$red-400;
                        }
                    }
                    .faq-answer {
                        max-height: 500px;
                        padding-bottom: 1rem;
                    }
                }
            }

            .btn {
                align-self: center;
            }
        }
    }

    .newsletter {
        background: v.$blue-600;
        color: v.$grey-50;
        text-align: center;
        padding: 4rem 1.5rem;
        &__tag {
            text-transform: uppercase;
            letter-spacing: f.rem(8);
            font-size: 0.8rem;
        }
        &__title {
            color: v.$grey-50;
            font-size: 1.75rem;
            font-weight: 500;
            max-width: 500px;
            margin: f.rem(20) auto f.rem(20);
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: f.rem(32);
            max-width: 400px;
            margin: 0 auto;

            .input-group {
                position: relative;

                input {
                    width: 100%;
                    padding: 0.75rem 1rem;
                    border: none;
                    padding-right: f.rem(48);
                    border-radius: f.rem(5);
                    text-align: left;
                    color: hsl(229, 31%, 21%);
                }

                &.error input {
                    border: 2px solid v.$red-400;
                    background-color: v.$grey-50;
                }

                .error-icon {
                    position: absolute;
                    top: 50%;
                    right: f.rem(16);
                    transform: translateY(-50%);
                    color: v.$red-400;
                    pointer-events: none;
                }

                .error-message {
                    width: 100%;
                    padding: 0 f.rem(16);
                    text-align: left;
                    position: absolute;
                    left: 0;
                    border-bottom-left-radius: f.rem(5);
                    border-bottom-right-radius: f.rem(5);

                    bottom: -1rem;
                    font-size: 0.75rem;
                    background-color: v.$red-400;
                }
            }

            button {
                background-color: v.$red-400;
                color: v.$grey-50;
                border: none;
                border-radius: f.rem(5);

                transition: background-color 0.3s ease;

                &:hover,
                &:focus,
                &:focus-visible {
                    outline: v.$red-400 1px solid;
                    background: white;
                    color: v.$red-400;
                }
            }

            @include breakpoint(medium) {
                flex-direction: row;
                gap: f.rem(16);
                align-items: flex-start;

                .input-group {
                    flex: 1;
                }

                button {
                    white-space: nowrap;

                    width: auto;
                }
            }
        }
    }

    .footer-this {
        background: v.$blue-950;

        .container {
            font-size: f.rem(16);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: f.rem(32);
        }
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(32);

            nav {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                a {
                    color: v.$grey-50;
                    font-weight: v.$font-normal;
                    cursor: pointer;
                    text-transform: uppercase;
                }

                @include breakpoint(medium) {
                    flex-direction: row;
                }
            }
        }

        @include breakpoint(medium) {
            .container {
                flex-direction: row;
            }
            &__left {
                flex-direction: row;
            }
            a {
                &:hover,
                &:focus,
                &:focus-visible {
                    color: v.$red-400;
                }
            }
        }
    }
}
