@use "../../../styles/functions" as f;

// Colors

// Primary
$purple-500: hsl(259, 100%, 65%);
$red-400: hsl(0, 100%, 67%);

// Neutral
$white: hsl(0, 100%, 100%);
$grey-100: hsl(0, 0%, 94%);
$grey-200: hsl(0, 0%, 86%);
$grey-500: hsl(0, 1%, 44%);
$black: hsl(0, 0%, 0%);

//Typography
$font-size-p: f.rem(32);
$transition: all 0.3s ease;

$font-normal: 400;
$font-semi-bold: 700;
$font-bold: 800;
