@use "../../../styles/functions" as f;

// Colors

// Primary
$red-400: hsl(0, 100%, 68%);

// Neutral

$blue-950: hsl(230, 29%, 20%);
$blue-100: hsl(207, 33%, 95%);

$medium-gray: hsl(229, 9%, 66%);

//Typography
$font-size-p: f.rem(18);
$box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);

//Font
$barlow-font: "Barlow", sans-serif;
$barlowC-font: "Barlow Condensed", sans-serif;

$font-normal: 400;
$font-bold: 700;
