@use "../../../styles/functions" as f;

// Colors

// Primary
$gray-50: hsl(0, 0%, 98%);
$gray-500: hsl(0, 0%, 41%);
$gray-950: hsl(0, 0%, 8%);

//Typography
$font-size-p: f.rem(18);
$box-shadow:-2px 0 8px rgba(0, 0, 0, 0.2);
//Font

$font-family: "Epilogue", sans-serif;

$font-normal: 500;
$font-bold: 700;
