@use "../../../styles/functions" as f;
@use "../../../styles/mq" as *;
@use "../../../styles/mixin" as *;
@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

.project-53 {
    font-family: v.$font-family;
    font-size: v.$font-size-p;
    flex: 1;
    @include flex-col(f.rem(0));
    justify-content: space-between;
    .icon {
        font-size: f.rem(44);
    }

    .navbar {
        @include flex-row(f.rem(32));

        @include v-align-center;
        padding: f.rem(24);

        .menu-toggle {
            background: none;
            border: none;
            font-size: 2rem;
            color: #333;
            cursor: pointer;

            @include breakpoint(medium) {
                display: none;
            }
        }

        .nav-links {
            display: none;

            @include breakpoint(medium) {
                flex: 1;
                @include flex-row(f.rem(32));
                justify-content: space-between;
                width: auto;

                .main-nav {
                    align-items: center;

                    @include flex-row(f.rem(32));
                    .nav-item {
                        position: relative;

                        a {
                            text-decoration: none;
                            color: v.$gray-500;
                            font-weight: v.$font-normal;

                            @include flex-row(f.rem(8));
                            font-size: f.rem(14);
                            &:hover {
                                color: v.$gray-950;
                            }
                        }

                        .dropdown {
                            position: absolute;
                            top: 100%;
                            right: 0;
                            background: v.$gray-50;
                            box-shadow: v.$box-shadow;
                            width: fit-content;
                            z-index: 1000;

                            width: max-content;
                            min-width: 100%; // optional fallback
                            margin-top: f.rem(16);

                            border-radius: f.rem(6);
                            padding: f.rem(8) 0;

                            @include flex-col(f.rem(4));

                            .dropdown-item {
                                @include flex-row(f.rem(16));
                                align-items: center;
                                padding: f.rem(8) f.rem(16);
                                cursor: pointer;
                                font-weight: v.$font-normal;
                                font-size: f.rem(14);
                                color: v.$gray-500;
                                text-decoration: none;

                                &:hover {
                                    color: v.$gray-950;
                                }
                            }
                        }
                    }
                }

                .btns {
                    @include flex-row(f.rem(32));
                    .btn {
                        background: none;
                        cursor: pointer;
                        padding: f.rem(8) f.rem(16);
                        border-radius: f.rem(8);
                        color: v.$gray-500;
                        font-weight: v.$font-normal;
                        font-size: f.rem(14);
                        &__register {
                            border: 1px solid v.$gray-500;

                            &:hover {
                                border: 1px solid v.$gray-950;
                            }
                        }

                        &:hover {
                            color: v.$gray-950;
                        }
                    }
                }
            }
        }
    }

    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 99;

        @include breakpoint(medium) {
            display: none;
        }
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: v.$gray-50;

        @include flex-col(f.rem(24));
        max-width: 320px;
        z-index: 999;
        box-shadow: v.$box-shadow;
        padding: f.rem(32);
        transition: right 0.3s ease-in-out;

        &.open {
            right: 0;
        }

        .close-button {
            background: none;
            border: none;
            align-self: flex-end;
            color: v.$gray-500;
            cursor: pointer;

            .icon {
                font-size: f.rem(32);
            }
        }

        .mobile-nav {
            @include flex-col(f.rem(8));
            .nav-item {
                a {
                    font-size: f.rem(16);
                    font-weight: v.$font-normal;
                    text-decoration: none;
                    color: v.$gray-500;
                    @include flex-row(f.rem(16));
                    align-items: center;
                    padding: f.rem(8) 0;

                    &:hover {
                        color: v.$gray-950;
                    }
                }

                .dropdown {
                    margin-top: f.rem(8);
                    margin-left: f.rem(16);
                    @include flex-col(f.rem(8));

                    .dropdown-item {
                        align-items: center;
                        @include flex-row(f.rem(08));
                        padding: 0.3rem 0;
                        font-size: 0.95rem;
                        color: v.$gray-500;
                        text-decoration: none;
                        cursor: pointer;

                        img {
                            width: 18px;
                            height: 18px;
                            object-fit: contain;
                        }

                        &:hover {
                            color: v.$gray-950;
                        }
                    }
                }
            }
        }

        .btns {
            @include flex-col(f.rem(12));
            margin-top: f.rem(32);

            .btn {
                padding: 0.7rem f.rem(16);
                text-align: center;
                background: none;
                border-radius: f.rem(12);
                color: v.$gray-500;
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    color: v.$gray-950;
                }

                &__register {
                    border: 2px solid v.$gray-500;

                    &:hover {
                        border-color: v.$gray-950;
                    }
                }
            }
        }

        @include breakpoint(medium) {
            display: none;
        }
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: f.rem(60);

        &__text {
            flex: 1;
            @include flex-col(f.rem(16));
            align-items: center;
            justify-content: space-between;
            padding-inline: f.rem(32);
            max-height: 100%;

            &--body {
                flex: 1;
                @include flex-col(f.rem(32));
                @include flex-center;

                h1 {
                    font-size: f.rem(36);
                }

                p {
                    color: v.$gray-500;
                    font-size: f.rem(16);
                    line-height: 1.6;
                }

                .btn {
                    background: v.$gray-950;
                    color: v.$gray-50;
                    padding: f.rem(12) f.rem(24);
                    border-radius: f.rem(8);
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        background: none;
                        color: v.$gray-950;
                        outline: 1px solid v.$gray-950;
                    }
                }

                @include breakpoint(medium) {
                    align-items: flex-start;
                }
            }

            .clients {
                width: 100%;
                @include v-align-center;

                img {
                    max-height: 30px;
                    max-width: 25%;
                }
            }
        }

        &__image {
            img {
                width: 100%;
                display: block;
                height: auto;

                @include breakpoint(medium) {
                    max-width: 500px;
                }
            }
        }

        @include breakpoint(medium) {
            margin: 0 auto;
            width: 90%;
            flex-direction: row;
            text-align: left;
            justify-content: space-between;

            &__text {
                h1 {
                    font-size: f.rem(64);
                }
            }
        }
    }
}
