@use "../../../styles/functions" as f;

// Colors
// Primary
$red-400: hsl(7, 99%, 70%);
$yellow-500: hsl(51, 100%, 49%);
$green-800: hsl(167, 40%, 24%); //(graphic design text)
$blue-800: hsl(198, 62%, 26%); //(photography text)
$green-500: hsl(167, 34%, 41%); //(footer)

// Neutral

$grey-950: hsl(212, 27%, 19%);
$grey-600: hsl(213, 9%, 39%);
$grey-550: hsl(232, 10%, 55%);
$grey-400: hsl(210, 4%, 67%);
$white: hsl(0, 100%, 100%);

$box-shadow:
    0 10px 30px rgba(17, 17, 17, 0.068),
    0 4px 6px rgba(0, 0, 0, 0.322);

// ## Typography
$font-size-p: f.rem(18);

$fraunces-font: "Fraunces", serif;
$barlow-font: "Barlow", sans-serif;

$font-normal: 600;
$font-bold: 700;
$font-bolder: 900;
